<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>

<table>
<!--    <tr><th>id</th><th>menu</th><th>content</th><th>price</th><th>count</th></tr>-->
<!--    <tr th:each="Order : ${add}">-->
<!--        <td id="id" th:text="${Order.id}">id</td>-->
<!--        <td th:text="${Order.menu}">menu</td>-->
<!--        <td th:text="${Order.content}">Author</td>-->
<!--        <td th:text="${Order.price}">price</td>-->
<!--        <td id="count" th:text="${Order.count}">count</td>-->
<!--    <tr>-->

</table>
<div>

</div>


<div>

    <input id="btn-update" type="button" >
</div>
<script src="/js/app/index.js"></script>

</body>
</html>