<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta charset="UTF-8">
    <title>HamBurGGGGER</title>
</head>
<body>
<div class="menu-hamburger">
    <a href="/menu/hamburger1">
        <img src="/css/img/hamburger1.jpg"/>
    </a>
    <span id="menu">냠냠햄버거</span>
    <span id="content">안녕하세요 HIHIHI</span>
    <span id="price">170000</span>
    <input id="btn-add" type="button" placeholder="장바구니에 추가" >
</div>
<script src="/js/app/index.js"></script>
</body>
</html>