<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<div layout:fragment="content">
    <div>
        <div class="menu-hamburger">
            <input  class="btn-add" type="button"/>
            <a th:href="@{/menu/1}">View page</a>
            <img src="/css/img/hamburger1.jpg">
            <input class="count" type="hidden" value=1>
            <span class="menu">냠냠 햄버거</span>
            <span class="contents">두꺼운 패티와 참깨가 올라간 고소한 빵 정성을 가득 담은 치즈까지~~~</span>
            <span class="price">10000</span>
        </div>

<!--        <div class="menu-hamburger">-->
<!--            <a class="btn-add" th:href="@{/menu/2}">View page</a>-->
<!--            <img src="/css/img/hamburger2.jpg">-->
<!--            <input class="count" type="hidden" value=1>-->
<!--            <span class="menu">숟숟 햄버거</span>-->
<!--            <span class="contents">숟숟</span>-->
<!--            <span class="">30000</span>-->
<!--        </div>-->


    </div>
</div>
</html>