<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav-bar">
    <div class="nav-bar_column">
        <span>메뉴</span>
        <span>이벤트</span>
    </div>
    <div class="nav-bar_column">
    <button>장바구니</button>
    <button>로그인</button>
    </div>
</div>
<main class="main-screen">
    <div class="menu-front">
        <h1>HOME > 메뉴소개</h1>
    </div>
    <div>
        <div class="menu-font">
        <h1>메뉴소개</h1>
        </div>
        <div class="menu-hamburger">
            <a href="/menu/hamburger1">
            <img src="/css/img/hamburger1.jpg"/>
                냠냠 햄버거
            </a>
        </div>
    </div>
</main>
</body>
</html>