<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav-bar">
    <div class="nav-bar_column">
        <span>메뉴</span>
        <span>이벤트</span>
    </div>
    <div class="nav-bar_column">
    <input type="button" th:onclick="|location.href='@{/shopping_basket}'|"
     placeholder="장바구니">

    <input type="button" placeholder="로그인">
    </div>
</div>
<main class="main-screen">
    <div class="menu-front">
        <h1>HOME > 메뉴소개</h1>
    </div>
    <div>
        <div class="menu-font">
        <h1>메뉴소개</h1>
        </div>
        <div class="menu-hamburger">
            <a  href="/menu/hamburger1">
            <img  src="/css/img/hamburger1.jpg"/>

            </a>
            <span id="menu">냠냠 햄버거</span>
            <span id="price">10000</span>
        </div>
    </div>
</main>

</body>
</html>