.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0, 1);

    height: 60px;
}
.nav-bar_column{
    width: 45%;
}
.nav-bar_column:first-child{
    font-size: 45px;
}
.nav-bar_column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar_column button{
    margin: 3px 10px;
    font-size: 30px;
}
