<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springbootweb.hamburger.dao.face.MemberDao">

   <select id="selectCntMember" resultType="int">
       SELECT count(*) FROM member
       WHERE id = #{id} AND pw=#{pw}
   </select>

    <select id="selectName" resultType="string" parameterType="springbootweb.hamburger.dto.Member">

        SELECT name FROM member
        WHERE id = #{id}

    </select>

    <select id="selectCntById" resultType="int" parameterType="springbootweb.hamburger.dto.Member">
        SELECT count(*) FROM member
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="springbootweb.hamburger.dto.Member">
        INSERT INTO MEMBER (id,pw,name,age,phone)
        VALUES ( #{id},#{pw},#{name},#{age},#{phone} )

    </insert>
    
</mapper>

